/* Web Font CSS declaration for Church Slavonic fonts */
/* Slavonic Computing Initiative (http://sci.ponomar.net/) */

@font-face {
    font-family: 'Ponomar Unicode';
    src: url('PonomarUnicode.eot');
    src: local('☺︎'),
	url('PonomarUnicode.eot?#iefix') format('embedded-opentype'),
	url('PonomarUnicode.woff2') format('woff2'),
	url('PonomarUnicode.woff') format('woff'),
	url('PonomarUnicode.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fedorovsk Unicode';
    src: url('FedorovskUnicode.eot');
    src: local('☺︎'),
	url('FedorovskUnicode.eot?#iefix') format('embedded-opentype'),
	url('FedorovskUnicode.woff2') format('woff2'),
	url('FedorovskUnicode.woff') format('woff'),
	url('FedorovskUnicode.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Menaion Unicode';
    src: url('MenaionUnicode.eot');
    src: local('☺︎'),
	url('MenaionUnicode.eot?#iefix') format('embedded-opentype'),
	url('MenaionUnicode.woff2') format('woff2'),
	url('MenaionUnicode.woff') format('woff'),
	url('MenaionUnicode.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Monomakh Unicode';
    src: url('MonomakhUnicode.eot');
    src: local('☺︎'),
	url('MonomakhUnicode.eot?#iefix') format('embedded-opentype'),
	url('MonomakhUnicode.woff2') format('woff2'),
	url('MonomakhUnicode.woff') format('woff'),
	url('MonomakhUnicode.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Indiction Unicode';
    src: url('IndictionUnicode.eot');
    src: local('☺︎'),
	url('IndictionUnicode.eot?#iefix') format('embedded-opentype'),
	url('IndictionUnicode.woff2') format('woff2'),
	url('IndictionUnicode.woff') format('woff'),
	url('IndictionUnicode.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pomorsky Unicode';
    src: url('PomorskyUnicode.eot');
    src: local('☺︎'),
	url('PomorskyUnicode.eot?#iefix') format('embedded-opentype'),
	url('PomorskyUnicode.woff2') format('woff2'),
	url('PomorskyUnicode.woff') format('woff'),
	url('PomorskyUnicode.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

